/* -----=====   FUENTES   =====----- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');

/* -----=====   ROOT   =====----- */
:root {
  --bg: #FFFFFF;
  --bg1: #F4F4F4;
  --color1: #F74464;
  --hover: rgb(245, 93, 121);
  --color2: #374258;
  --color3: #6A7285;
  --color4: #C4C4C4;
  --font-title: 'Raleway', sans-serif;
  --font-text: 'Open Sans', sans-serif;
  --size: 18px;
}



/* -----===== Contenido Inicio =====----- */

html p {
  font-family: var(--font-text);
}

html h1,
h2,
h3 {
  font-family: var(--font-title);

}

body {
  background-color: rgb(53, 53, 53);
}

main {
  background-color: var(--color2);
  width: 100%;
  height: auto;
}

.background:first-child {
  background-color: #f4f4f4;
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 120px;
  border-radius: 0px 0px 100px 100px;
  filter: drop-shadow(0px 30px 10px #00000085);
  position: relative;
  z-index: 5;

}

.background:nth-child(2) {
  background-color: rgb(95, 95, 95);
  width: 100%;
  height: auto;
  display: flex;
  filter: drop-shadow(0px 20px 20px #0000007d);


}

.background:nth-child(3) {
  background-color: var(--color2);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*filter: drop-shadow(0px 30px 10px #0000007d);*/
  z-index: 1;
}

.SVG-Text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

#Text-SVG-sec1 {
  width: 35%;
  height: 60%;
}

#Text-sec1 {
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #Text-sec1 h1 {
  font-size: 4.5rem;

} */

.SVG-sec1 {
  width: 50%;
  height: 100%;
}

.SVG-sec1 svg {

  width: 70%;
  height: 100%;
}

.cls-1 {
  fill: #d4392e;
  stroke: #d4392e;
  stroke-miterlimit: 10;

}

.cls-2 {
  stroke-miterlimit: 10;
  fill: #1e4097;
  stroke: #1e4097;

}

.cls-3 {
  stroke-miterlimit: 10;
  fill: #231f20;
  stroke: #231f20;
  stroke-width: 0.25px;

}

.cls-4 {
  fill: #6a7285;

}



#Mision {
  background-color: #374258;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 100px 100px;
  filter: drop-shadow(0px 20px 20px #000000a9);
  position: relative;
  z-index: 3;
  top: 5%;
  padding-top: 247px;
  padding-bottom: 126px;
}

#Vision {
  background-color: #f74464;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 100px 100px;
  position: relative;
  filter: drop-shadow(0px 20px 20px #000000a9);
  z-index: 2;
  top: -5%;

}
#Vision .Text-sec2 {
  width: 60%;
  height: 80%;
  padding: 100px;
}
#Mision .Text-sec2 {
  width: 50%;
  height: 100%;
  
}

.Text-sec2 h2 {
  /* font-size: 4rem; */
  color: #f4f4f4;
}

.Text-sec2 p {
  /* font-size: 1.6rem; */
  color: #f4f4f4;
}

.SVG1-sec2 {

  width: 30%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SVG2-sec2 {
  width: 30%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Contenedor-svg-sec3 {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#Contenedor-svg-sec3 svg{
  width: 950px;
  height: 950px;
  padding-top: 130px;
}
/* -----===== Animaciones =====----- */

/* Logo */
#Kanji_1 {
  stroke-dasharray: 80%;
  stroke-dashoffset: 80%;
  fill: none;
  stroke-width: 5px;

  animation: AnimacionLogo 3s cubic-bezier(.47, .01, 0, .81) forwards;
}

#Kanji_2 {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  fill: none;
  stroke-width: 5px;

  animation: AnimacionLogo 3s cubic-bezier(.47, .01, 0, .81) forwards .5s;
}

#Kanji_3 {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  stroke-width: 5px;
  fill: none;

  animation: AnimacionLogo 3s cubic-bezier(.47, .01, 0, .81) forwards 1s;
}

#Kanji_3-2 {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  stroke-width: 5px;
  fill: none;

  animation: AnimacionLogo 3s cubic-bezier(.47, .01, 0, .81) forwards 1s;
}

#Kanji_3-3 {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  stroke-width: 5px;
  fill: none;

  animation: AnimacionLogo 3s cubic-bezier(.47, .01, 0, .81) forwards 1s;
}

#Kanji_4 {
  stroke-dasharray: 200%;
  stroke-dashoffset: 200%;
  stroke-width: 5px;
  fill: none;

  animation: AnimacionLogo 3s cubic-bezier(.47, .01, 0, .81) forwards 1.5s;
}

#Letra_J {

  translate: -1000px -133.61px;
  stroke: none;

  animation: AnimacionJ 2s cubic-bezier(.47, .01, 0, .81) forwards 2s;
}

#E_1 {
  translate: 1000px;
  stroke: none;

  animation: AnimacionE 2s cubic-bezier(.47, .01, 0, .81) forwards 2s;
}

#E_2 {
  translate: 1000px;
  stroke: none;

  animation: AnimacionE 2s cubic-bezier(.47, .01, 0, .81) forwards 2s;
}

#E_3 {
  translate: 1000px;
  stroke: none;

  animation: AnimacionE3 2s cubic-bezier(.47, .01, 0, .81) forwards 2s;
}

@keyframes AnimacionLogo {
  0% {}

  25% {
    fill: none;
  }

  40% {
    fill: none;
  }

  49% {
    fill: none;
  }

  50% {
    fill: none;
    opacity: 1;
    fill: #ffffff00;
  }

  80% {
    fill: #00000000;
  }

  95% {
    opacity: 1;
  }

  100% {
    stroke-dashoffset: 0;
    fill: #000000;
    opacity: 1;
  }
}

@keyframes AnimacionJ {
  0% {}

  25% {
    fill: none;
  }

  40% {
    fill: none;
  }

  49% {
    fill: none;
  }

  50% {
    fill: none;
    opacity: 1;
    fill: #ed1c235b;
  }

  80% {
    fill: #ed1c24;
  }

  95% {
    opacity: 1;
  }

  100% {
    translate: -607.09px -133.61px;
    fill: #ed1c24;
    opacity: 1;
  }
}

@keyframes AnimacionE {
  0% {}

  25% {
    fill: none;
  }

  40% {
    fill: none;
  }

  49% {
    fill: none;
  }

  50% {
    fill: none;
    opacity: 1;
    fill: #2e319259;
  }

  80% {
    fill: #2e3192;
  }

  95% {
    opacity: 1;
  }

  100% {
    translate: 0px;
    fill: #2e3192;
    opacity: 1;
  }
}

@keyframes AnimacionE3 {
  0% {}

  25% {
    fill: none;
  }

  40% {
    fill: none;
  }

  49% {
    fill: none;
  }

  50% {
    fill: none;
    opacity: 1;
    fill: #2e319244;
  }

  80% {
    fill: #2e3192;
  }

  95% {
    opacity: 1;
  }

  100% {
    translate: -607.09px -133.61px;
    fill: #2e3192;
    opacity: 1;
  }
}

/* Patada */
/* #Tabla_ {
  translate: 1000px;

  animation: Golpe1 .2s linear forwards;
}

#Pierna {
  translate: 1000px;
  animation: Golpe2 5s cubic-bezier(.01, 1.08, .05, 1.04) forwards;
} */

@keyframes Golpe1 {
  0% {}

  100% {
    translate: -24px 1.42px;
    transform: scaleX(1);
  }
}

@keyframes Golpe2 {
  0% {}

  100% {
    translate: -24px 1.42px;
  }
}

/* Golpe */

/* #Tabla2 {
  translate: -1000px;

  animation: Golpe1 .2s linear forwards;
}

#Puño {
  translate: -1000px;
  animation: Golpe2 5s cubic-bezier(.01, 1.08, .05, 1.04) forwards;
} */

@keyframes Golpe1 {
  0% {}

  100% {
    translate: -24px 1.42px;
    transform: scaleX(1);
  }
}

@keyframes Golpe2 {
  0% {}

  100% {
    translate: -24px 1.42px;
  }
}


#LetraJ:hover {
  transform: scale(1.021);
}

#pattern2 {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
}

#Conjunto:hover {
  transform: scale(1.021);
}

#Kanjis:hover {
  transform: scale(1.021);
}

#Titulo:hover {
  transform: scale(1.021);
}

#LetraE:hover {
  transform: scale(1.021);
}


.try-again:hover:after {
  left: 40%;
  right: 40%;
}

.wrapper{
  position:absolute;
  left: 39%;
  top: 39%;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
 
  
}

.wrapper p {
  color: white;
  padding: 10px;
}

.wrapper svg {
  width: 100%;
  height: 100%;
}

.button {
  cursor: pointer;
  position: static;
  z-index: 2;
  color: none;
  outline: none;
  border: none;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10%;
  box-shadow: 0 0 0 white, 0 0 0 white;
  width: 100%;
  height: 30%;


}

.popup {
  opacity: 0;
  visibility: hidden;
  height: 320px;
  width: 320px;
  flex-shrink: 0;
  border-radius: 3px;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease
}

.backgrounds {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.background {
  top: 0;
  border-radius: 0 0 10% 10%;
  /*Eliminado porque hacía redonda la sección 2 */
}
.backgroundPop {
  --offset: 0;
  position: absolute;
  left: var(--offset);
  right: var(--offset);
  bottom: var(--offset);
  top: var(--offset);
  background-color: var(--bg1);
  transform: scale(0);
  transition: all 0.5s ease 0s;
  border-radius: 0 0 10% 10%;
  /*Eliminado porque hacía redonda la sección 2 */
}


.content1 {
  --offset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: var(--color2);
  border-radius: 10PX;
  transition: all 0.35s ease 0.75s;
  z-index: 10;
}

.content2 {
  --offset: 0;
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: var(--color3);
  border-radius: 10PX;
  transition: all 0.35s ease 0.75s;
  z-index: 10;
}

.content3 {
  --offset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color2);
  border-radius: 10PX;
  opacity: 0;
  transition: all 0.35s ease 0.75s;
  z-index: 10;

}

.content4 {
  --offset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color3);
  border-radius: 10PX;
  opacity: 0;
  transition: all 0.35s ease 0.75s;
  z-index: 10;

}

.content5 {
  --offset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color2);
  border-radius: 10PX;
  opacity: 0;
  transition: all 0.35s ease 0.75s;
  z-index: 10;

}


.content-wrapper {
  text-align: center;

}

body.active1 .content1 {
  opacity: 1;
  transform: none;
}

body.active1 .popup {
  opacity: 1;
  visibility: visible;
}

body.active1 .popup-inside {
  border-radius: 0;
  box-shadow: -50px 0 200px -50px #000000, 50px 0 200px -50px #000000;
}

body.active1 .backgroundPop {
  transform: scale(2);
}


body.active2 .content2 {
  opacity: 1;
  transform: none;
}

body.active2 .popup {
  opacity: 1;
  visibility: visible;
}

body.active2 .popup-inside {
  border-radius: 0;
  box-shadow: -50px 0 200px -50px #000000, 50px 0 200px -50px #000000;
}

body.active2 .backgroundPop {
  transform: scale(2);
}



body.active3 .content3 {
  opacity: 1;
  transform: none;
}

body.active3 .popup {
  opacity: 1;
  visibility: visible;
}

body.active3 .popup-inside {
  border-radius: 0;
  box-shadow: -50px 0 200px -50px #000000, 50px 0 200px -50px #000000;
}

body.active3 .backgroundPop {
  transform: scale(2);
}



body.active4 .content4 {
  opacity: 1;
  transform: none;
}

body.active4 .popup {
  opacity: 1;
  visibility: visible;
}

body.active4 .popup-inside {
  border-radius: 0;
  box-shadow: -50px 0 200px -50px #000000, 50px 0 200px -50px #000000;
}

body.active4 .backgroundPop {
  transform: scale(2);
}



body.active5 .content5 {
  opacity: 1;
  transform: none;
}

body.active5 .popup {
  opacity: 1;
  visibility: visible;
}

body.active5 .popup-inside {
  border-radius: 0;
  box-shadow: -50px 0 200px -50px #000000, 50px 0 200px -50px #000000;
}

body.active5 .backgroundPop {
  transform: scale(2);
}

#Patada1{
  translate: 800px;
  transition:  .3s ease-in-out all;
}
.SVG1-sec2 .active{
  transform: translate(-500px); 
  
}
#Patada2{
  translate: -600px;
  transition:  .3s ease-in-out all;
}
.SVG2-sec2 .active{
  transform: translate(400px); 
  
}


/* -----===== Fin de las animaciones =====----- */
#ModFooter{
 padding-top: 300px;
}

/* -----===== MEDIAS QUERIES =====----- */
@media screen and (max-width: 1624px) {
 .container {
  margin-bottom: 30%;

 }
 #Mision{
  Padding-top: 123px;
 }
 #Vision .Text-sec2{
  width: 70%;
  height: 95%;
 }
 #ModFooter{
  padding-top: 300px;
 }
 /* Esto lo modifique  */
 footer{
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #374258;
  
 }
 
}
@media screen and (max-width: 1000px){
  .background:first-child {
    background-color: #f4f4f4;
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 120px;
    border-radius: 0px 0px 100px 100px;
    filter: drop-shadow(0px 30px 10px #00000085);
    position: relative;
    top: -100px;
    z-index: 5;
  }
  .SVG1-sec2 {
    width: 40%;
  }
  .SVG2-sec2 {
    width: 50%;
  }
  #Patada1{
    translate: 600px;
    transition:  .3s ease-in-out all;
  }
  .SVG1-sec2 .active{
    transform: translate(-500px); 
    
  }
  #Patada2{
    translate: -400px;
    transition:  .3s ease-in-out all;
  }
  .SVG2-sec2 .active{
    transform: translate(400px); 
    
  }
}
@media screen and (max-width: 730px){

  .QuerySec1{
    background-color: #f4f4f4;
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 178px;
    border-radius: 0px 0px 100px 100px ;
    filter: drop-shadow(0px 30px 10px #00000085);
    position: relative;
    z-index: 5;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #Silueta{
    display: none;
  }
  .QuerySec2{
    background-color: rgb(95, 95, 95);
    width: 100%;
    height: auto;
    display: flex;
    
    position: relative;
    top: -100px;
    z-index: 3;
  }
  #Mis-Vis {
    background-color: var(--color2);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  #Mision{
    flex-direction: row;
    position: relative;
    z-index: 4;
  }
  .wrapper{
    top: 29%;
  }
  #Text-SVG-sec1{
    width: 100%;
  }
  #Contenedor-svg-sec3 svg{
    padding-top: 0px;
    width: 750px;
    height: 750px
  }
  .QuerySec3{
    background-color: var(--color2);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    
  }
 
  .container{
    margin-bottom: 0;
  }
}
@media screen and (max-width: 600px){


  
  .QuerySec2{
    background-color: rgb(95, 95, 95);
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    top: -100px;
    z-index: 3;
  }
  #Mis-Vis {
    background-color: var(--color2);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  #Mision{
    flex-direction: column-reverse;
    position: relative;
    z-index: 4;
  }
  .SVG1-sec2{
    width: 80%;
    padding-bottom: 10px;
  }
  
  #Vision{
    flex-direction: column;
  }
  .SVG2-sec2 {
    width: 80%;
    height: 80%;
    padding-top: 250px;
  }
  #Vision .Text-sec2 {
    width: 100%;
    padding: 50px;
    
  }
  #Mision .Text-sec2 {
    width: 100%;
    padding: 50px;
    
  }
  
  #Patada1 {
    translate: 580px;
  }
  #Patada2 {
    translate:-490px;
  }


  .SVG1-sec2 {
    width: 100%;
  }
  .SVG2-sec2 {
    width: 100%;
  }



  .wrapper{
    top: 29%;
  }
  #Text-SVG-sec1{
    width: 100%;
  }
  #Contenedor-svg-sec3 svg{
    padding-top: 0px;
    width: 750px;
    height: 750px;
  }
  .QuerySec3{
    background-color: var(--color2);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    
  }
  
  .container{
    margin-bottom: 0;
  }
}
@media screen and (max-width: 300px){
  #Contenedor-svg-sec3 svg {
   
    width: 350px;
    height: 350px;
  }
  .wrapper{
    top: 0%
  }
  .popup {
  
    height: 252px;
    width: 252px;
  }
  #ModFooter {
    padding-top: 0px;
  }
}